@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: Inter, Arial;
}

body{
    display: grid;
    grid-template-columns: repeat(3, 396px);
    grid-template-rows: auto;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 3rem 0;
}

nav{
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}

#search{
    display: flex;
    justify-content: center;
    width: 40%;
    align-items: center;
    position: relative;
}

input{
    width: 100%;
    padding: 8px 24px;
    outline: none;
    font-size: 1rem;
    background-color: rgb(232, 232, 232);
    border-radius: 4px;
    border: none;
}

.bi-search{
    color: #737373;
    top:1;
    position: absolute;
    right: 24px;
    background-color: transparent;    
}

button{
    background-color: #3772FF;
    color: #fff;
    border: none;
    outline: none;
    padding: 8px 48px;
    border-radius: 4px;
    cursor: pointer;
}

header{
    grid-column: 1 / 4;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 396px);
    width: 100%;
    margin-top: 3rem;
}

header section{
    grid-column: 1 / 3;
    grid-row: 2;
}

header img{
    grid-column: 3 / 4;
    grid-row: 2;
}

header section div h1{
    font-size: 3rem;
    font-weight: 600;
    width: 75%;
}

header section div p{
    color: #737373;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 2rem 0;
}

header section ul{
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: flex-start;
}

header section ul li{
    padding-right: 2rem;
    list-style: none;
}

header section ul li h3{
    font-weight: 600;
    font-size: 2rem;
}

header section ul li p{
    color: #737373;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

header img{
    width: 70%;
    /* height: 436px; */
}

section#line-three{
    grid-column:  1 / 4;
    grid-row: 3;

    display: grid;
    grid-template-columns: repeat(3, 396px);

    width: 100%;
    margin-top: 3rem;
}

section#line-three div#images{
    grid-column: 1 / 3;
}

section#line-three div#images img{
    padding-right: 2rem;
}

section#line-three div#text{
    grid-column:  3 / 4;
}

section#line-three div#text h2{
    font-size: 2rem;
    font-weight: 500;
    width: 70%;
    padding-bottom: 2rem;
}

section#line-four{
    grid-column:  1 / 4;
    grid-row: 4;

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 3rem;
}

section#line-four h3{
    font-size: 2.5rem;
    font-weight: 500;
}

section#line-four div#artists-group{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

section#line-four .artists{
    display: flex;
    position: relative;
}

section#line-four .artists p{
    position: absolute;
    top: 15px;
    left: 20px;
    font-weight: 600;
    font-size: 1.3rem;
    color: #F9F9F9;
}

section#line-four .artists span{
    position: absolute;
    color: #EBEBEB;
    top: 42px;
    left: 20px;
    font-weight: 500;
    font-size: .7rem;
}

section#line-four .artists img{
    width: 100%;
} 

footer{
    grid-column:  1 / 4;
    grid-row: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
}

footer ul{
    display: flex;
}

footer ul li{
    list-style: none;
    font-size: 1rem;
    padding-left: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width: 1200px){
    body{
        display: block;
        padding: 1.5rem;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #search{
        display: none;
    }
    

}







